<div class="wrapper">
  <header>
    <div class="container">
      <div class="row">
        <div class="header-logo"> <a routerLink=""><img src="../assets/img/header-logo.svg"> </a></div>
          <nav class="header-nav">
            <div (click)="openMenu()" class="header-btn"><i class="fas fa-bars"></i></div>
            <ul [@wild]="state">
              <li><a routerLink="" appCleaner routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Beste  Casino Hoteller</a></li>
              <li><a routerLink="games" appCleaner routerLinkActive="active">Utvalgte Spill</a></li>
              <li><a routerLink="reviews" appCleaner routerLinkActive="active">Kasinohotell Vurderinger</a></li>

              <li><a class="other-page" routerLink="om-oss" appCleaner routerLinkActive="active">Om Oss</a></li>
              <li><a class="other-page" routerLink="kontakt-oss" appCleaner routerLinkActive="active">Kontakt Oss</a></li>
              <li><a class="other-page" routerLink="regler-og-vilkar" appCleaner routerLinkActive="active">Regler Og  Vilkår</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>

  </footer>
</div>
