<div class="wrapper">
  <div class="container">
    <!--Header start-->

    <header>
      <div class="row">
        <div class="header-logo"> <a routerLink=""><img src="../assets/img/header-logo.svg"> </a></div>
        <nav class="header-nav">
          <div (click)=" this.navbarOpen = !this.navbarOpen;" class="header-btn"><i class="fas fa-bars"></i></div>
          <ul [ngClass]="{'show':navbarOpen}"> 
            <li><a routerLink=""        (click)="getReturned()"       appCleaner routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Beste Casino Hoteller</a></li>
            <li><a routerLink="games"   (click)="getReturned()"       appCleaner routerLinkActive="active">Utvalgte Spill</a></li>
            <li><a routerLink="reviews" (click)="getReturned()"        appCleaner routerLinkActive="active">Kasinohotell Vurderinger</a></li>

            <li class="other-page"><a routerLink="om-oss"            (click)="getReturned()"            appCleaner routerLinkActive="active">Om Oss</a></li>
            <li class="other-page"><a routerLink="kontakt-oss"       (click)="getReturned()"       appCleaner routerLinkActive="active">Kontakt Oss</a></li>
            <li class="other-page"><a routerLink="regler-og-vilkar"  (click)="getReturned()"  appCleaner routerLinkActive="active">Regler Og Vilkår</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!--Header end-->
    <main>
      <router-outlet></router-outlet>
      <!--Main start-->
      <div class="main-wrapper" [ngClass]="{'displayed':returned ,'notdisplayed':navigated}">
      <div class="main-wrapper">

        <div class="self-wrapper">
          <!--Each main row-->
          <div class="row">
            <div class="col-md-2 col-sm-6 main-wrapper-img"><a href="#"><img src="../assets/img/casino.jpg"></a> </div>

            <div class="col-md-2 col-sm-6 main-wrapper-write"><h3> Spahotel Casino</h3>Kylpylaitoksentie 7, 57130 Savonlinna</div>

            <div class="col-md-2 col-sm-6 main-wrapper-link"><p>Rangeringer</p>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span> <a (click)="navigateUrl()">Les anmeldelse</a>
            </div>

            <div class="col-md-2 col-sm-6 main-wrapper-point"><div class="point-badge">Våre poeng</div><span>9.9 </span></div>
            <div class="col-md-4 main-wrapper-button"><a class="btn-link" href="#">Besøke Nettsiden</a></div>
          </div>
          <!--Each main row ending-->

               
            </div>

          </div>
          <!--Each main row ending-->


        </div>
      </main>
      <footer>  </footer>
      </div>
      <!--Main end-->
   
 
  </div>

